<div class="row">
			<div class="admin col-xl-12">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Destination</th>
					<th>Dates</th>
					<th>Class</th>
					<th>Option</th>
				</tr>
					<% order.forEach( function(model) { %>
				<tr>
					<th class="id"><%= model.id%></th>
					<td class="destination"><a href="/funfare/detail/<%= model.pid%>"><%= model.city%></a></td>
					<td class="destination"><%= model.travelDates%></td>
					<td class="destination"><%= model.class%></td>
					<td class="delete"><a  href="#" class="delete-link" onclick="deleteOrder('<%= model.id %>')">Delete</a></td>
				</tr>
					<% }); %>
			</table>
			</div>
		</div>

		<script>
			function deleteOrder(id) {
			
					var r = confirm("Confirm Delete?");
					if (r == true) {
					
							var xhr = new XMLHttpRequest();
							xhr.open("POST", "/order/delete/" + id, true);
							xhr.onload = function(e) {
								alert(this.responseText);
								location.reload(true); 
							};
							xhr.send();
							
					} else {
							alert("cancelled");
					}
					
			} 
			</script>